<section class='fat-header' style='background: url({% capture image_url %}{% editable_file 'header_image' %}{% endeditable_file %}{% endcapture %}{% if image_url != '' %}{{ image_url | image_url }}{% else %}{{ 'maple-hotel-street-level.jpg' | theme_image_url }}{% endif %}) center center; background-size: cover;'>
  <div class='overlay-with-gradient blue {% if image_url != '' %}transparent{% endif %}'></div>
  <div class='container center-vh'>
    <h1 class='mb-0 text-center wow fadeInUp'>{{ page.title }}</h1>
  </div>
</section>
