<section class='footer bg-primary'>
  <div class='overlay-with-gradient blue'></div>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4 mb-5 mb-sm-0'>
        <h5 class='mb-4'>About Us</h5>
        <p class='mb-0'>CIRES is a social enterprise designed to operate a balanced commercial property portfolio that leases space for uses that will ensure affordable goods and services are available to low income residents.</p>
      </div>
      <div class='col-sm-7 ml-auto'>
        <div class='row'>
          <div class='col-sm-4 mb-5 mb-sm-0'>
            <h5 class='mb-4'>Purpose</h5>
            <nav class='nav flex-column'>
              <a class='nav-link py-1 px-0' href='/purpose/mission-and-goals'>Mission & Goals</a>
              <a class='nav-link py-1 px-0' href='/purpose/community-issues'>Our Story</a>
              <a class='nav-link py-1 px-0' href='/purpose/vision-and-values'>Vision & Values</a>
              <a class='nav-link py-1 px-0' href='/purpose/faq'>F.A.Q.</a>
            </nav>
          </div>
          <div class='col-sm-4 mb-5 mb-sm-0'>
            <h5 class='mb-4'>People</h5>
            <nav class='nav flex-column'>
              <a class='nav-link py-1 px-0' href='/people/staff'>Staff</a>
              <a class='nav-link py-1 px-0' href='/people/property-management'>Property Management</a>
              <a class='nav-link py-1 px-0' href='/people/board'>Board of Directors</a>
              <a class='nav-link py-1 px-0' href='/people/advisory-committee'>Advisory Committee</a>
            </nav>
          </div>
          <div class='col-sm-4 mb-0'>
            <h5 class='mb-4'>Portfolio</h5>
            <nav class='nav flex-column'>
              <a class='nav-link py-1 px-0' href='/portfolio/about-our-portfolio'>About Our Portfolio</a>
              <a class='nav-link py-1 px-0' href='/portfolio/available-units'>Available Units</a>
              <a class='nav-link py-1 px-0' href='/portfolio/selection-criteria'>Tenant Selection Criteria</a>
              <a class='nav-link py-1 px-0' href='/contact-us'>Contact Us</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
