{% if params.form == "success" %}
<div class='container'>
  <div class='alert alert-success alert-dismissible fade show mb-0'>
    <button aria-label='Close' class='close' data-dismiss='alert' type='button'>
      <span aria-hidden='true'>×</span>
    </button>
    <h5>Successfully sumitted form</h5>
    <p class='mb-2'>Your form has been sucecssfully submitted! You will hear from us shortly! Thanks you for your interest in CIRE.</p>
  </div>
</div>
{% endif %}
