<ul class='pagination mt-3'>
  <li class='page-item {% unless paginate.previous_page %}disabled{% endunless %}'>
    <a class='page-link' href='{{ paginate.previous.url }}'><</a>
  </li>
  {% for page in paginate.parts %}
  <li class='page-item {% unless page.is_link %}active{% endunless %}'>
    <a class='page-link' href='{{ page.url }}'>{{ page.title }}</a>
  </li>
  {% endfor %}
  <li class='page-item {% unless paginate.next_page %}disabled{% endunless %}'>
    <a class='page-link' href='{{ paginate.next.url }}'>></a>
  </li>
</ul>
