<div class='d-flex flex-column flex-md-row align-items-center px-md-4 bg-info'>
  <div class='container'>
    <nav class='nav'>
      <div class='py-1 py-sm-2 pr-sm-4 pl-0 mr-auto'>
        {% editable_text "address", format: raw, rows: 2 %}
        <i class='fa fa-map-marker text-white mr-2'></i>
        <a class='text-white' href='http://maps.google.com/?q=337 Gore Avenue Vancouver, BC V6A 2Z3'>337 Gore Avenue Vancouver, BC V6A 2Z3</a>
        {% endeditable_text %}
      </div>
      <div class='py-1 py-sm-2 px-sm-4'>
        {% editable_text "phone", format: raw, rows: 2 %}
        <i class='fas fa-phone text-white mr-2'></i>
        <a class='text-white' href='tel:1-800-123-4567'>1-800-123-4567</a>
        {% endeditable_text %}
      </div>
      <div class='py-1 py-sm-2 px-sm-4'>
        {% editable_text "email", format: raw, rows: 2 %}
        <i class='far fa-envelope text-white mr-2'></i>
        <a class='text-white' href='mailto:info@communityimpactrealestate.com'>info@communityimpactrealestate.com</a>
        {% endeditable_text %}
      </div>
    </nav>
  </div>
</div>
