---
title: Community Issues
slug: community-issues
position: 2
listed: true
published: true
is_layout: false
editable_elements:
  featured_image/header_image: "/samples/_production/pages/community-banner.jpg"
  featured_image/subheader: Why CIRES was formed
  content/freetext/Freetext: "<p>\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n</p><p
    class=\"p1\">\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n</p><p class=\"p1\"><span
    class=\"s1\">CIRE vision and mission works towards addressing and contributing
    to Vancouver’s&nbsp;</span><span class=\"s1\">Community Economic Development (CED)
    strategy for the inner city.</span> <span class=\"s1\">CIRE is committed to ensuring
    that the uniqueness of the inner city is recognized in its operations, and special
    tools and approaches are created to maintain the existing neighbourhood character
    and revitalize the area, without displacement of residents, to achieve a healthy
    neighbourhood for all.</span></p><p></p>\r\n\r\n<p class=\"p1\"><span class=\"s1\">Many
    organizations and levels of government have been working to improve the quality
    of life in inner city for many years. The City of Vancouver and BC Housing are
    key partners in addressing community economic development and affordable housing
    for residents and business owners in the inner city.</span></p>\r\n\r\n<p class=\"p1\"><span
    class=\"s1\">The non-market tenants in the commercial portfolio are social enterprises,
    non-profits and businesses that address critical community health issues and focus
    on reversing the impacts of social isolation, limited employment opportunities
    and unaffordable retail and service options for low-income residents in Vancouver’s
    DTES.</span></p><p></p>"
  content/Freetext Sidebar: ''
  callout/callout_image: ''
  callout/newsletter header: Sign up for email updates
  callout/newsletter blurb: Enter your email to get updates on CIRES. We will not
    pass on your email to any third parties and you may decide opt out at any time.
---
{% extends layouts/sidebar %}
{% block content/freetext %}
<div class='freetext'>
  <p>CIRE vision and mission works towards addressing and contributing to Vancouver’s Community Economic Development (CED) strategy for the inner city. CIRE is committed to ensuring that the uniqueness of the inner city is recognized in its operations, and special tools and approaches are created to maintain the existing neighbourhood character and revitalize the area, without displacement of residents, to achieve a healthy neighbourhood for all.</p>
  <p>Many organizations and levels of government have been working to improve the quality of life in inner city for many years. The City of Vancouver and BC Housing are key partners in addressing community economic development and affordable housing for residents and business owners in the inner city.</p>
  <p>The non-market tenants in the commercial portfolio are social enterprises, non-profits and businesses that address critical community health issues and focus on reversing the impacts of social isolation, limited employment opportunities and unaffordable retail and service options for low-income residents in Vancouver’s DTES.</p>
</div>
{% endblock %}
{% block content/main %}
{% endblock %}