---
title: Reports
slug: reports
position: 5
listed: true
published: true
is_layout: false
editable_elements:
  featured_image/header_image: ''
  featured_image/subheader: Annual and financial reports, strategic frameworks, and
    other documents.
  content/freetext/Freetext: <p>Below you will find a list of CIRES documents available
    for download.</p><p><a href="/samples/_production/assets/CIRES_2022_Annual_Report__EFeb2023.pdf"
    title="CIRES_2022_Annual_Report.pdf">CIRES_2022_Annual_Report_...</a></p><p><a
    href="/samples/_production/assets/CIRES_2021_Annual_Report.pdf" title="CIRES_2021_Annual_Report.pdf">CIRES_2021_Annual_Report.pdf</a></p><p><a
    href="/samples/_production/assets/CIRES_2020_Annual_Report_wst.pdf" title="CIRES_2020_Annual_Report_...">CIRES_2020_Annual_Report_...</a></p><p><a
    href="/samples/_production/assets/Community_Coordinated_Response_Network__CCRN__Report_November_2020.pdf"
    title="Community_Coordinated_Res...">Community_Coordinated_Res...</a></p><p><u><a
    href="/samples/_production/assets/CIRES_2019_Annual_Report.pdf" title="CIRES_2019_Annual_Report.pdf">CIRES_2019_Annual_Report.pdf</a></u></p><p><a
    href="/samples/_production/assets/CIRES_Strategic_Framework_2018-2020.pdf.pdf"
    title="CIRES_Strategic_Framework...">CIRES_Strategic_Framework...</a><br></p><p><a
    href="/samples/_production/assets/Downtown_Eastside_Social_Enterprise_Impact_Report_2019.pdf"
    title="Downtown_Eastside_Social_...">Downtown_Eastside_Social_...</a><br></p><p><br></p>
  content/Freetext Sidebar: ''
  callout/callout_image: ''
  callout/newsletter header: Sign up for email updates
  callout/newsletter blurb: Enter your email to get updates on CIRES. We will not
    pass on your email to any third parties and you may decide opt out at any time.
---
{% extends "layouts/sidebar" %}