---
title: Blank
slug: blank
position: 99
listed: false
published: false
is_layout: true
---
{% extends layouts/default %}
{% block featured_image %}
{% include slim_header %}
{% endblock %}
{% block content %}
<section>
  <div class='container'>
    <div class='freetext'>
      {% editable_text "Freetext", rows: 10 %}
      {% endeditable_text %}
    </div>
    {% block main %}
    {% endblock %}
  </div>
</section>
{% endblock %}